
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
    #root {
        /* width: -webkit-max-content; */
        width: -moz-max-content;
        width: 100%;
    }
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

        .Login form {
            margin: 0 auto;
            max-width: 320px;
        }
}


body {
    /* background-image: url("../connectwork/75375624_264099878214580_5973773756546441470_n.png");*/
    /* background-image: url("../connectwork/connectwork.png");*/
    background-color: #c5c5d3;
}


.md-form input[type="search"]:not(.browser-default) {
    border-bottom: 1px solid #000000 !important;
}
.pagination {
    background-color: rgba(0,0,0,0.15) !important;
}
    .pagination .page-item .page-link {
        font-size: .9rem;
        color: #212529;
        background-color: rgba(0,0,0,0.15) !important;
        
        border: 0;
        outline: 0;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
label {
    color: black;


}

.p {
    color: black;
}

.table {
    margin-top: 2%;
    color: black;
    background-color: #e8e8ed;
    
}
.reset_password:hover {
    background-color: #9900cc;
    transform: scale(1.05);


    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.reset_password {
    background-color: #b803ff;
    width: 150px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

.log_in:hover {
    background-color: #339933;
    transform: scale(1.05);
}



.log_in {
    width: 150px;
    height: 30px;
    background-color: #32cd32;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
}


.table.table td {
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
}

.table.table th {
    font-size: 1.3rem;
    font-weight: 900;
    color:black;
}

.success_t:hover {
    background-color: #00a740;
    transform: scale(1.05);

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;

    outline: 0;
}
.success_t {
    background-color: #00c851;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}

/*Ciemmo_niebieski*/
.prim_t:hover {
    background-color: #3174e3;
    transform: scale(1.05);

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;

    outline: 0;
}

.prim_t {
    background-color: #4285f4;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*Czerwony_przycisk_tabelka*/
.danger_t:hover {
    background-color: #ee2425;
    transform: scale(1.05);

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;

    outline: 0;
}


.danger_t {
    background-color: #ff3547;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}


/*Jasno_niebieski*/



.info_t:hover {
    background-color: #22a4d4;
    transform: scale(1.05);

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;

    outline: 0;
}

.info_t {
    background-color: #33b5e5;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*     Duże    */
.success_n:hover {
    background-color: #00b740;
    transform: scale(1.05);
    outline: 0;
}
.success_n {
    float: right;
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}


/*Ciemmo_niebieski*/
.prim_n:hover {
    background-color: #3174e3;
    transform: scale(1.05);
    outline: 0;
}

.prim_n {
    background-color: #4285f4;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*Czerwony_przycisk_duży*/
.danger_n:hover {
    background-color: #ee2425;
    transform: scale(1.05);
    outline: 0;
}

.danger_n {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}


/*Jasno_niebieski*/



.info_n:hover {
    background-color: #22a4d4;
    transform: scale(1.05);
    
    outline: 0;
    
}

.info_n {
    background-color: #33b5e5;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}
    /*Pasek nawigacyjny najeżdza na widoki(muszą być wszystkie)*/


.machine_warhouse_conteiner,
.glass_attributes_conteiner,
.add_Color,
.EditColor,
.addType,
.user_history_conteiner,
.order_warehouse_conteiner,
.one_order_conteiner,
.add_acount_conteiner,
.user_change_conteiner,
.add_glass_conteiner,
.addCutMachine,
.add_TypeMachine,
.cut_machine_edit,
.Glass_Edit,
.save_project_conteiner,
.add_TypeMachine,
.machine_Warehouse,
.conteiner_cp,
.selection_of_orders_conteiner,
.ready_packages_conteiner {
    z-index: 0;
    padding-top: 10rem;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*Widoki bez tabel*/

.add_CutMachine {
    z-index: 0;
    padding-top: 10rem;
    width: 94%;
    margin-left:auto;
    margin-right:auto;
    position: center;
    clear: both;
}

.nextlin{
    clear:both;
}