.title {
    background: #15171c;
    height: 10px;
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
}
