










.success_cm_add_wr {
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    margin-right: 1.5rem;
    float: right;
    display: inline-block;
}

    .success_cm_add_wr:hover {
        background-color: #339933;
        transform: scale(1.05);
        outline: 0;
    }
