
.info_t:hover {
    background-color: #22a4d4;
    transform: scale(1.05);
   
}

.info_t {
    background-color: #33b5e5;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
 
    background-image: none;
   
    margin: 0 auto;
    display: block;
}


.danger_t:hover {
    background-color: #ee2436;
    transform: scale(1.05);
   
}

.danger_t {
    background-color: #ff3547;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}

.prim_t:hover {
    background-color: #3174e3;
    transform: scale(1.05);
}

.prim_t {
    background-color: #4285f4;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}


.datatable-pagination {
    color: white !important;
}

.pagination{
    background-color: #666666 !important;
}