.body {
    background-color: white;
    background-image: unset;
}

.test_c {
    margin-top: 14rem;
}

.canvas {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.canva {
    float: right;
    width: 50%;
    height: 100%;
    background-color: white;
}

.table2 {
    margin: 30px;
    width: 40%;
    float: left;
}

.table3 {
    margin: 30px;
    width: 40%;
    float: left;
}

.h2 {
    text-align: center;
    color: black;
}

.h3 {
    color: red;
    text-align: center;
}