.side_bar::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    overflow-x: hidden;
   
}

.side_bar::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #15171c 46%,#15171c 51%);
    border-radius: 10px;
}

.side_bar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #656767 14%,#656767 64%);
}

.side_bar::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 80px;
    background: #15171c;
}
