@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

        .Login form {
            margin: 0 auto;
            max-width: 320px;
        }
}


body {
   /* background-image: url("../connectwork/75375624_264099878214580_5973773756546441470_n.png");*/
     background-image: url("../connectwork/connectwork.png");
    /*background-color: darkgray;*/
}
label {
    color:white;
}

.reset_password:hover {
    background-color: #9900cc;
    transform: scale(1.05);
}

.reset_password {
    background-color: #b803ff;
    width:150px;
    height:30px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}
.log_in:hover {
    background-color: #339933;
    transform: scale(1.05);
}



.log_in {
    width: 150px;
    height: 30px;
    background-color: #32cd32;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
}

