@media all and (min-width: 480px) {
    .AddOrder2_c {
        padding: 60px 0;
    }

        .AddOrder2_c form {
            margin: 0 auto;
            max-width: 320px;
        }
}

@media all and (max-width: 480px) {
    .success_order2_1, .danger_order2, .success_order2_2{
        margin-left:auto !important;
        margin-right:auto !important;
        width: 40vw !important;
        float:none !important;
        margin-top: 10px;
    }
}

    .danger_order2:hover {
        background-color: #ee2425;
        transform: scale(1.05);
        outline: 0;
    }

    .danger_order2 {
        background-color: #ff3547;
        height: 3rem;
        width: 12rem;
        /* padding: 6px 6px;*/
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        color: white;
        border-radius: 13px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
        /* position:center;*/
        /*  margin: 0 auto;*/
        /*  margin-right: 1.5rem;*/
        margin-right: auto;
        margin-left: 2rem;
        /* position: center;*/
        /* float: right;*/
        display: inline-block;
        float: left;
    }


    .success_order2_1:hover {
        background-color: #00b740;
        transform: scale(1.05);
        outline: 0;
    }

    .success_order2_1 {
        background-color: #00c851;
        height: 3rem;
        width: 12rem;
        padding: 6px 6px;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        background-image: none;
        color: white;
        border-radius: 13px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
        /* margin-right: 1.5rem;*/
        margin-left: auto;
        margin-right: 2rem;
        /* position: center;*/
        /* float: right;*/
        display: inline-block;
        float: right;
    }


    .success_order2_2:hover {
        background-color: #00b740;
        transform: scale(1.05);
        outline: 0;
    }

    .success_order2_2 {
        float: right;
        background-color: #00c851;
        height: 3rem;
        width: 12rem;
        padding: 6px 6px;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        background-image: none;
        color: white;
        border-radius: 13px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-right: 50px;
        margin-bottom: 0px;
        margin-top: 5px;
        position: center;
    }
