
@media all and (min-width: 480px) {
    .Gw {
        padding: 60px 0;
    }

    .Gw {
        margin: 0 auto;
        max-width: 320px;
    }
}

.nextline {
    clear: both;
}
.redy_products:hover {
    background-color: #339933;
    transform: scale(1.05);
}
.redy_products {
    background-color: #32cd32;
    height: 25px;
    width: 125px;
    font-weight: 900;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    float: right;
}

.log_out2:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.log_out2 {
    background-color: #fc0303;
    height: 25px;
    width: 125px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    text-align: center;
    background-image: none;
    color: white;
    font-weight: 900;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
    right: 0;
    float: right;
}

.del_glass_x:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.del_glass_x {
    background-color: #fc0303;
    height: 25px;
    width: 125px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    text-align: center;
    background-image: none;
    color: white;
    font-weight: 900;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top:20px;
    float: right;
}

.home21:hover {
    background-color: #08a89f;
    transform: scale(1.05);
}



.home21 {
    background-color: #00cccc;
    padding: 6px 12px;
    height: 25px;
    width: 125px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    float: right;
}


.add_glass:hover {
    background-color: #339933;
    transform: scale(1.05);
}

.add_glass {
    float: right;
    background-color: #32cd32;
    height: 25px;
    width: 125px;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.tableglass {
    width: 96%;
    margin-left: 2%;
}


.nav_gw{
    float: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

.conteiner_gw{
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    clear: both;
}