@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

        .Login form {
            margin: 0 auto;
            max-width: 320px;
        }
}


body {
   /* background-image: url("../connectwork/75375624_264099878214580_5973773756546441470_n.png");*/
   /* background-image: url("../connectwork/connectwork.png");*/
    background-color: darkslategrey;
}

label {
    color: white;
}

.reset_password:hover {
    background-color: #9900cc;
    transform: scale(1.05);
}

.reset_password {
    background-color: #b803ff;
    width:150px;
    height:30px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}
.log_in:hover {
    background-color: #339933;
    transform: scale(1.05);
}



.log_in {
    width: 150px;
    height: 30px;
    background-color: #32cd32;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
}

.danger_resset_pass:hover {
    background-color: #ee2425;
    transform: scale(1.05);
}

.danger_resset_pass {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}

.success_login {
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}

    .success_login:hover {
        background-color: #339933;
        transform: scale(1.05);
    }