@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

        .Login form {
            margin: 0 auto;
            max-width: 320px;
        }
}
@media (max-width: 767px) {
    #root {
        /* width: -webkit-max-content; */
        width: -moz-max-content;
        width: 100%;
    }
}
.Login_c{

}

.Login_b_c{

}




.danger_resset_pass:hover, .danger_resset_pass:active {
    background-color: #ee2425;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.danger_resset_pass {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    padding: 6px 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position:center;
    margin: 0 auto;
 
   /* float: left;*/
    display: inline-block;
}

.success_login {
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
   /* float: right;*/
    display: inline-block;
}

    .success_login:hover {
        background-color: #339933;
        transform: scale(1.05);

        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
    }



.Login_b_c {
    position: center;
    margin: 0 auto;
}