




.nav_machine_e {
    float: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.conceiner_machine_e {
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    clear: both;
}

.success_cm_edit {
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}

.success_cm_edit:hover {
        background-color: #339933;
        transform: scale(1.05);
    }