@media all and (min-width: 480px) {
    .AddOrder2{
        padding: 60px 0;
    }

        .AddOrder2 form {
            margin: 0 auto;
            max-width: 320px;
        }
}



.danger_order2:hover {
    background-color: #ee2425;
    transform: scale(1.05);
    outline: 0;
}

.danger_order2 {
    background-color: #ff3547;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}


.success_order2_1:hover {
    background-color: #00b740;
    transform: scale(1.05);
    outline: 0;
}

.success_order2_1 {
    float: right;
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}


.success_order2_2:hover {
    background-color: #00b740;
    transform: scale(1.05);
    outline: 0;
}

.success_order2_2 {
    float: right;
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}
.ordertable{
    width: 96%;
    margin-left: 2%;
}

.AddOrder2 {
    margin-top: 14rem;
    width: 96%;
    clear: both;
}