
.key{
    color:black;
    font-weight:700;
}


 
.p{
    color:black;
}

.prim_one_order:hover {
    background-color: #3174e3;
    transform: scale(1.05);
    outline: 0;
}

.prim_one_order {
    background-color: #4285f4;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    margin-right: 1.5rem;
    float: right;
    display: inline-block;
}
