.oneordertable {
    width: 96%;
    margin-left: 2%;
}


.nav_one_o {
    float: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.conteiner_one_o {
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    clear: both;
}
 