
@media all and (min-width: 480px) {
    .GlassEdit_c {
        padding: 60px 0;
    }

        .GlassEdit_c form {
            margin: 0 auto;
            max-width: 320px;
        }
}



.danger_glass_edit {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /* position:center;*/
    /*  margin: 0 auto;*/
    /*  margin-right: 1.5rem;*/
    margin-right: auto;
    margin-left: 2rem;
    /* position: center;*/
    /* float: right;*/
    display: inline-block;
    float: left;
}

    .danger_glass_edit:hover {
        background-color: #ee2425;
        transform: scale(1.05);
        outline: 0;
    }

.success_glass_edit {
    background-color: #00c851;
    height: 3rem;
    width: 13rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /* margin-right: 1.5rem;*/
    margin-left: auto;
    margin-right: 2rem;
    /* position: center;*/
    /* float: right;*/
    display: inline-block;
    float: right;
}

    .success_glass_edit:hover {
        background-color: #339933;
        transform: scale(1.05);
        outline: 0;
    }

.glass_edit_b_c {
}

.empty {
    width: 1rem;
    display: inline-block;
}

.glass_edit_conteiner {
}
