
@media all and (min-width: 480px) {
    .addCutMachine {
        padding: 60px 0;
    }

        .addCutMachine form {
            margin: 0 auto;
            max-width: 320px;
        }
}


.cancel_machine13:hover {
    background-color: #9900cc;
    transform: scale(1.05);
}

.cancel_machine13 {
    background-color: #b803ff;
    height: 25px;
    width: 125px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5px;
    margin-left: 0%;
    float: none;
}

.add_machine1:hover {
    background-color: #339933;
    transform: scale(1.05);
}

.add_machine1 {
    background-color: #32cd32;
    height: 25px;
    width: 125px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5px;
    margin-left: 0%;
    float: none;
}

h2 {
    color: white;
}

h3 {
    color: white;
}
