
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
    #root {
        /* width: -webkit-max-content; */
        width: -moz-max-content;
        width: 100%;
        margin-top: 14vh;
    }
}




@media all and (min-width: 800px) {
    .phone {
        visibility: hidden
    }
}

@media all and (max-width: 800px) {
    .success_login, .hhh {
        visibility: hidden
    }

    .aaaaaaaa {
        visibility: hidden
    }
}


body {
    /* background-image: url("../connectwork/75375624_264099878214580_5973773756546441470_n.png");*/
    /* background-image: url("../connectwork/connectwork.png");*/
    /* background-color: #c5c5d3;*/
    background-color: #e8e8ed;
}

th {
    text-align: center !important;
}

/**table.mdb-dataTable thead .sorting:before, table.mdb-dataTable thead .sorting:after, table.mdb-dataTable thead .sorting_asc:before, table.mdb-dataTable thead .sorting_asc:after, table.mdb-dataTable thead .sorting_desc:before, table.mdb-dataTable thead .sorting_desc:after, table.mdb-dataTable thead .sorting_asc_disabled:before, table.mdb-dataTable thead .sorting_asc_disabled:after, table.mdb-dataTable thead .sorting_desc_disabled:before, table.mdb-dataTable thead .sorting_desc_disabled:after, table thead.mdb-dataTable-head .sorting:before, table thead.mdb-dataTable-head .sorting:after, table thead.mdb-dataTable-head .sorting_asc:before, table thead.mdb-dataTable-head .sorting_asc:after, table thead.mdb-dataTable-head .sorting_desc:before, table thead.mdb-dataTable-head .sorting_desc:after, table thead.mdb-dataTable-head .sorting_asc_disabled:before, table thead.mdb-dataTable-head .sorting_asc_disabled:after, table thead.mdb-dataTable-head .sorting_desc_disabled:before, table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    margin-left: 10px;
}*/

.md-form input[type="search"]:not(.browser-default) {
    border-bottom: 1px solid #000000 !important;
    margin-top: 50px;
    margin-right: 0.1rem;
    float: left;
}

.pagination {
    background-color: rgba(0,0,0,0.15) !important;
}

    .pagination .page-item .page-link {
        font-size: .9rem;
        color: #212529;
        background-color: rgba(0,0,0,0.15) !important;
        border: 0;
        outline: 0;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

label {
    color: black;
}

.p {
    color: black;
}

.table {
    margin-top: 2%;
    color: black;
    background-color: #c5c5d3;
}

.reset_password:hover {
    background-color: #9900cc;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.reset_password {
    background-color: #b803ff;
    width: 150px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

.log_in:hover {
    background-color: #339933;
    transform: scale(1.05);
}



.log_in {
    width: 150px;
    height: 30px;
    background-color: #32cd32;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-left: 2%;
}


.table.table td {
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
}

.table.table th {
    font-size: 1.3rem;
    font-weight: 900;
    color: black;
}

.success_t:hover {
    background-color: #00a740;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}

.success_t {
    background-color: #00c851;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}

/*Ciemmo_niebieski*/
.prim_t:hover {
    background-color: #3174e3;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}

.prim_t {
    background-color: #4285f4;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*Czerwony_przycisk_tabelka*/
.danger_t:hover {
    background-color: #ee2425;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}


.danger_t {
    background-color: #ff3547;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}


/*Jasno_niebieski*/



.info_t:hover {
    background-color: #22a4d4;
    transform: scale(1.05);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}

.info_t {
    background-color: #33b5e5;
    height: 2.5rem;
    width: 9rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*     Duże    */
.success_n:hover {
    background-color: #00b740;
    transform: scale(1.05);
    outline: 0;
}

.success_n {
    float: right;
    background-color: #00c851;
    height: 3rem;
    width: 12rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    position: center;
}


/*Ciemmo_niebieski*/
.prim_n:hover {
    background-color: #3174e3;
    transform: scale(1.05);
    outline: 0;
}

.prim_n {
    background-color: #4285f4;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}

/*Czerwony_przycisk_duży*/
.danger_n:hover {
    background-color: #ee2425;
    transform: scale(1.05);
    outline: 0;
}

.danger_n {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
}


/*Jasno_niebieski*/



.info_n:hover {
    background-color: #22a4d4;
    transform: scale(1.05);
    outline: 0;
}

.info_n {
    background-color: #33b5e5;
    height: 3rem;
    width: 12rem;
    /* padding: 6px 6px;*/
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    margin: 0 auto;
    display: block;
}
/*Pasek nawigacyjny najeżdza na widoki(muszą być wszystkie)*/



.EmailChange_c,
.EditOrder_c,
.PasswordChange_c,
.user_change_conteiner,
.conteiner_cp,
.cut_machine_edit,
.EditTypeM_c,
.AddTypeMachine_c,
.glass_attributes_conteiner,
.AddColor_c,
.addType,
.addCutMachine,
.EditColor,
.user_history_conteiner,
.add_acount_conteiner,
.add_glass_conteiner,
.selection_of_orders_conteiner,
.ready_packages_conteiner,
.save_project_conteiner,
.machine_warhouse_conteiner,
.conteiner_rgw,
.AddOrder1_c,
.AddType_c,
.conteiner_mw,
.AddAcount_c,
.UserChange_c,

.AddGlass_c,
.GlassEdit_c,
.SavedProject_c,
.AddOrder2_c,
.SavedPrint_c,
.test_c,
.PickMachine_c,
.conteiner,
.ResetPassword_c,
.PasswordReset2_c,
.Login_c,
.TypeEdit_c,
.AddCutMachine_c,
.tescik,
.order_warehouse_conteiner {
    z-index: 0;
    margin-top: 16vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
.Glass_Warehause {
    margin-top: 0;
    width: 100%;
    float: left;
   
    height: 100vh;
}

.Glass_Warehause_c {
    margin-top: 0;
    width: 300px;
    z-index: 100;
    float:left ;
 
    
    background-color: aqua;
    height: 100vh;
}

.s {
    float: left;
}

.table_corection {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}

.table_corection_add_o {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    padding-top: 30px;
}
/*Widoki bez tabel*/
.add_CutMachine {
    z-index: 0;
    padding-top: 10rem;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    clear: both;
}

.tit_log {
    background: #15171c;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
}

.title {
    height: 80px;
    width: 60vw;
    font-size: 40px;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    text-align: center;
    color: white;
    margin-left: 20vw;
    margin-right: 20vw;
}

.titletext {
    text-align: center;
    margin: 0;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%);
}

.tit_text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: fit-content;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    z-index: 101;
    text-align: center;
    color: white;
}

.title_log {
    height: 80px;
    width: 40vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    text-align: center;
    color: white;
    margin-left: 30vw;
    margin-right: 30vw;
}

.nextlin {
    clear: both;
}
