


.danger_ready_glass_warehouse:hover {
    background-color: #ee2425;
    transform: scale(1.05);
    outline: 0;
}

.danger_ready_glass_warehouse {
    background-color: #ff3547;
    height: 3rem;
    width: 13rem;
    padding: 6px 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /*  position:center;*/
    margin: 0 auto;
    display: block;
    float: right;
    margin-right: 1rem;
}

.success_ready_glass_warehouse {
    background-color: #00c851;
    height: 3rem;
    width: 13rem;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    background-image: none;
    color: white;
    border-radius: 13px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    position: center;
    float: right;
    margin-left: 1rem;

}

    .success_ready_glass_warehouse:hover {
        background-color: #339933;
        transform: scale(1.05);
        outline: 0;
    }


